<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/tailwind.min.css?body=1" rel="stylesheet" />
    <link href="/css/common.css?body=1" rel="stylesheet" />

    <title></title>
</head>
<body class="cont_bg content_background_color">
    <div id="app" v-cloak>

        <user-header></user-header>

        <!--  -->
        <div class="lg:flex w-full content_background_color min-h-screen  pt-12" >

            <div id="menu" class="w-60 pt-2 bg-gray-600 flex-shrink-0 
                            absolute inset-y-0 left-0 transform -translate-x-full lg:relative lg:translate-x-0 transition duration-200 ease-in-out">
                <left-menu></left-menu>
            </div>
                
            <!-- 内容 -->
            <div class="flex-grow flex flex-col content_background_color h-full">
                
                    <p class="font-bold text-xl p-5 bg-white">Inventory</p>

                    <div class="m-5 p-5 bg-white">
                         <!-- 入库单信息-->
                        <div>
                            <div class="lg:flex lg:flex-wrap">
                                <div class="flex w-full lg:w-1/2 py-2  items-center">
                                    <div class="w-32 pr-2 text-right text-gray-700">Invoice No.:</div>
                                    <div>{{order.mxdbh}}</div>
                                </div>
                               
                                <div class="flex w-full lg:w-1/2 py-2">
                                    <div class="w-32 pr-2 text-right text-gray-700">Shipping date:</div>
                                    <div>{{order.rkrq ? order.rkrq.substring(0, 10) : ''}}</div>
                                </div>

                                <div class="flex w-full lg:w-1/2 py-2">
                                    <div class="w-32 pr-2 text-right text-gray-700">Sea freight:</div>
                                    <div>{{order.wyf}}</div>
                                </div>
                                <div class="flex w-full lg:w-1/2 py-2">
                                    <div class="w-32 pr-2 text-right text-gray-700">Insurance fee:</div>
                                    <div>{{order.bf}}</div>
                                </div>
                            </div>
                        
                        </div>

                        <!-- 商品列表 -->
                        <div class="overflow-x-auto mt-4">
                            <div class="py-2 font-bold">Product List</div>
                            <table class="table-fixed w-full divide-y divide-gray-200 text-sm text-center " >
                                <tr>
                                    <!-- 入库时间(预计到港日期)、商品名称、货号、规格、可售数量、采购单价、采购总价、提单号 -->
                                    <th class="px-2  text-center  font-medium text-gray-800  tracking-wider w-24">
                                        KB item No.
                                    </th>
                                    
                                    <th class="px-2  text-center  font-medium text-gray-800  tracking-wider w-24">
                                        SP item No.
                                    </th>

                                    <th class="px-2  text-center  font-medium text-gray-800  tracking-wider w-24">
                                        Product description
                                    </th>
                    
                                    <th class="px-2 text-center  font-medium text-gray-800  tracking-wider w-24 digitType">
                                        FOB unit price
                                    </th>
                                    <th class="px-2 text-center  font-medium text-gray-800  tracking-wider w-24 digitType">
                                        Quantity
                                    </th>
                                    <th class="px-2 text-center  font-medium text-gray-800  tracking-wider w-24 digitType">
                                        FOB total amount
                                    </th>
                                    
                                </tr>

                                <tr v-for="item in order.products">
                                    <td> {{item.sphh}} </td>
                                    <td> {{item.sphh_kh}} </td>
                                    <td>{{item.spywmc}}</td>
                            
                                    <td class="digitType"> {{item.price.toFixed(2)}} </td>
                                    <td class="digitType"> {{item.quantity}} </td>
                                    <td class="digitType"> {{(item.price * item.quantity).toFixed(2)}} </td>
                                    
                                </tr>

                                <tr class="font-bold bg-blue-50">
                                    <td>Total</td>
                                    <td></td>
                                   
                                    <td></td>
                                    <td></td>
                                    <td class="digitType"> {{computeTotal('quantity')}} </td>
                                    
                                    <td class="digitType"> {{computeTotal('amount').toFixed(2)}}  </td>
                                </tr>


                            </table>
                        </div>

                        <!-- 付款明细 -->
                        <div class="overflow-x-auto mt-8">
                            <button v-if="canAddPayment" class="my-2 bg-transparent hover:bg-blue-500 text-blue-500 h-6 px-2 transition-colors duration-150 border border-blue-500 rounded
                                    focus:shadow-outline hover:bg-blue-500 hover:text-blue-100 text-sm" v-on:click="newItemClick">Add SP payment</button>

                            <table class="table-fixed w-full divide-y divide-gray-200 text-sm text-center " >
                                <tr>
                                    <!-- 入库时间(预计到港日期)、商品名称、货号、规格、可售数量、采购单价、采购总价、提单号 --> 
                                    <th class="px-2  text-center  font-medium text-gray-800  tracking-wider w-24">
                                        SP payment date
                                    </th>
                                    <th class="px-2 text-center  font-medium text-gray-800  tracking-wider w-24">
                                        Currency
                                    </th>
                                  
                                    <th class="px-2 text-center  font-medium text-gray-800  tracking-wider w-24 digitType">
                                        Amount
                                    </th>
                                    <th class="px-2 text-center  font-medium text-gray-800  tracking-wider w-24 digitType">
                                        Current Rate
                                    </th>
                                    <th class="px-2 text-center  font-medium text-gray-800  tracking-wider w-24 digitType">
                                        Amount(USD)
                                    </th>
                                    <th class="px-2 text-center  font-medium text-gray-800  tracking-wider w-24">
                                        
                                    </th>
                                    
                                </tr>

                                <tr v-for="(item, index) in order.payments">
                                    <td>{{item.addtime}}</td>
                            
                                    <td v-if="!item.edit">
                                        {{item.currency}}
                                    </td>

                                    <td v-if="item.edit">
                                        <div class="w-full mx-auto">
                                            <select v-model="item.currency" class="w-20 block appearance-none  text-gray-600 bg-white border border-gray-200  px-1 py-1 rounded  
                                                        leading-tight focus:outline-none focus:bg-white focus:border-blue-500">
                                                <option value="USD">USD</option> 
                                                <option value="EUR">EUR</option> 
                                                <option value="RMB">RMB </option> 
                                            </select>
                                        </div>
                                       
                                    </td>
                       


                                   
                                    <td class="digitType text-center" v-if="!item.edit">
                                        {{item.amount}}
                                    </td>


                                    <td v-if="item.edit" class="mx-auto">
                                        <div class="mx-auto">
                                            <input type="text" style="width: 70%;" v-model="item.amount"
                                            class="block appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-700
                                            leading-tight focus:outline-none focus:bg-white focus:border-blue-500" />
                                        </div>
                                        
                                    </td>

                                    <td class="digitType text-center" v-if="!item.edit">
                                        {{item.huilv}}
                                    </td>


                                    <td v-if="item.edit" class="mx-auto">
                                        <div class="mx-auto">
                                            <input type="text" style="width: 70%;" v-model="item.huilv"
                                            class="block appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-700
                                            leading-tight focus:outline-none focus:bg-white focus:border-blue-500" />
                                        </div>
                                        
                                    </td>

                                    <td class="digitType text-center">
                                        {{Number.isNaN(item.amount * item.huilv) ? '' : (item.amount * item.huilv).toFixed(2)}}
                                    </td>

                            
                                    <td class="px-1 py-2" v-if="!item.edit && canAddPayment">
                                        <a class="text-blue-700 hover:text-blue-900 mr-4 visited:text-blue-700" 
                                                        v-on:click="pressEdit(index)">Edit</a> 
                                        <a class="text-red-700 hover:text-red-900"
                                                        v-on:click="deleteItem(index)">Delete</a>
                            
                                    </td>                 
                                    <td class="px-1 py-2" v-if="item.edit && canAddPayment">
                                        <a class="text-blue-700 hover:text-blue-900 mr-4 visited:text-blue-700"
                                                            v-on:click="confirmEdit(index)">确定</a>
                                        <a class="text-gray-700 hover:text-gray-900" v-on:click="cancelEdit(index)">取消</a>
                                    </td>
                                    
                                </tr>


                            </table>
                        </div>
                   
                   

                    
                </div>
            </div>
        </div>

    
            
    </div>
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/vuejs-datepicker.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/js.cookie.min.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/lib/moment.min.js"></script>
    <script src="/js/lib/header.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/inboundorder.js"></script>
</body>
</html>