<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/tailwind.min.css?body=1" rel="stylesheet" />
    <link href="css/common.css?body=1" rel="stylesheet" />
    <link href="css/login.css?body=1" rel="stylesheet" />

    <title></title>
</head>
<body class="bg-blue-400">
    <div id="app" v-cloak class="">

            <div v-if="login_error" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <span class="block sm:inline">{{errorMessage}}</span>
                <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                </span>
            </div>

            <div class="mt-20 login-page">
                <div class="form ">
                  
                  <div class="login-form " class="rounded">
                    <input type="text" class="rounded" v-model="userId" placeholder="用户名"/>
                    <input type="password" v-model="password" class="rounded" placeholder="密码"/>
                    <button v-on:click="login" class="bg-blue-500 rounded hover:bg-blue-700">登录</button>
                  </div>
                </div>
              </div>

            
       
            
    </div>
    <script type="text/javascript" src="js/vue.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/js.cookie.min.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
</body>
</html>