<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/tailwind.min.css?body=1" rel="stylesheet" />
    <link href="/css/common.css?body=1" rel="stylesheet" />
    <link href="/css/element-ui.css?body=1" rel="stylesheet" />

    <title></title>
</head>
<body class="cont_bg content_background_color">
    <div id="app" v-cloak>

        <user-header></user-header>

        <!--  -->
        <div class="lg:flex w-full content_background_color h-screen pt-12" >

            <div id="menu" class="w-60 pt-2 bg-gray-600 flex-shrink-0 
                            absolute inset-y-0 left-0 transform -translate-x-full lg:relative lg:translate-x-0 transition duration-200 ease-in-out">
                <left-menu></left-menu>
            </div>
                
            <!-- 内容 -->
            <div class="flex-grow flex flex-col content_background_color h-full">

                <!-- 标题-->
                <p class="font-bold text-xl p-5 bg-white">Goods Gross Profit</p>

                <!-- 查询表单-->
                <div class="m-5 p-5 bg-white">
                    <form>
                        <div class="lg:flex items-center">
                            <div class="flex-grow lg:flex">
                                <label class="w-16 text-sm py-1 block pr-2">Keys          </label>
                                <input type="text" v-model="params.keyword" placeholder="" class="w-5/6  appearance-none border border-gray-200 rounded h-8 py-1.5 px-2 text-sm text-gray-700 leading-tight
                                                    focus:outline-none focus:bg-white focus:border-blue-500" />
                            </div>

                           

                            <div class="lg:w-1/4 lg:flex">
                                <label class="text-sm py-1 block pr-2" >&nbsp;</label>
                                <div>
                                    
                                    <button class=" h-8 px-4 mr-3  text-sm text-white transition-colors 
                                    duration-150 rounded-sm focus:shadow-outline bg-blue-500 hover:bg-blue-600" v-on:click="clickSearch">Search  </button>

                                    <button class=" h-8 px-4  text-sm text-gray-600 transition-colors border border-gray-400
                                duration-150 rounded-sm focus:shadow-outline bg-white hover:bg-gray-100" v-on:click="clickReset">Reset</button>
                                </div>
                                
                            </div>
                        </div>
                    </form>
                </div>
                
                <!-- 列表 -->
                <div class="mx-5 p-5 bg-white overflow-x-auto">
                    <table class="table-fixed w-full divide-y divide-gray-200 text-sm text-center " >
                        <tr>
                 
                            <th class="px-2 py-2 text-center  font-medium text-gray-800  tracking-wider w-24">
                                SP Sales No.
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800  tracking-wider w-24">
                                Customer  
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800  tracking-wider w-24">
                                Salesman 
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800  tracking-wider w-24">
                                KB Invoice No. 
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800  tracking-wider w-24">
                                Product description
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800  tracking-wider w-24">
                                SP Item No. 
                            </th>
                           
                            <th class="px-2 py-2 text-center  font-medium text-gray-800  tracking-wider w-24 digitType">
                                Quantity  
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800  tracking-wider w-24 digitType">
                                CIF unit price
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800  tracking-wider w-24 digitType">
                                CIF total amount
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800  tracking-wider w-24 digitType">
                                Sales price
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800  tracking-wider w-24 digitType">
                                Sales amount
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800  tracking-wider w-24 digitType">
                                Gross profit 
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800  tracking-wider w-24 digitType">
                                Gross profit margin
                            </th>
                        </tr>

                        <tr v-for="item in orders" class="hover:bg-gray-200">
                     
                            <td>{{item.xshth}}</td>
                            <td>{{item.gnkhmc}}</td>
                            <td>{{item.seller}}</td>
                            <td>{{item.mxdbh ? item.mxdbh : ''}}</td>
                            <td>{{item.spywmc}}</td>
                            <td>{{item.sphh_kh}}</td>
                      
                            <td class="digitType">{{item.sjccsl}}</td>
                            <td class="digitType">{{item.unitPrice.toFixed(2)}}</td>
                            <td class="digitType">{{(item.unitPrice * item.sjccsl).toFixed(2)}}</td>
                            <td class="digitType">{{item.wxdj.toFixed(2)}}</td>
                            <td class="digitType">{{item.wxzj.toFixed(2)}}</td>
                            <td class="digitType">{{item.ml.toFixed(2)}}</td>
                            <td class="digitType">{{item.mll + '%'}}</td>
                            
                        </tr>

                        <tr class="font-bold bg-blue-50"  v-if="totalCount > 0">
                            <td>Total</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                            <td class="digitType">{{computeTotal('sjccsl')}}</td>
                            <td></td>
                            <td class="digitType">{{totalAmount().toFixed(2)}}</td>
                           
                            <td></td>
                            <td class="digitType">{{computeTotal('wxzj').toFixed(2)}}</td>
                            <td class="digitType">{{computeTotal('ml').toFixed(2)}}</td>
                           
                            <td></td>
                 
                        </tr>
                    </table>

                    
                    <div class="pt-5 bg-white">
                        <el-pagination background
                                @current-change="handleCurrentChange"
                                :current-page="currentPage"
                                :page-size="pageSize"
                                layout="total, prev, pager, next"
                                :total="totalCount"></el-pagination>
                    </div>

                   
                </div>
            
            </div>
        </div>

        
       
            
    </div>

    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/js.cookie.min.js"></script>
    <script src="/js/element-ui.js"></script>
    <script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/lib/header.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/maolibiao.js"></script>
</body>
</html>