<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/tailwind.min.css?body=1" rel="stylesheet" />
    <link href="/css/common.css?body=1" rel="stylesheet" />
    <link href="/css/element-ui.css?body=1" rel="stylesheet" />

    <title></title>
</head>
<body>
    <div id="app" v-cloak class="min-h-screen content_background_color">

        <user-header></user-header>

        <!--  -->
        <div class="lg:flex w-full" style="position: absolute; top: 44px; bottom: 0; width: 100%;">

            <div id="menu" class="w-60 pt-2 bg-gray-600 flex-shrink-0 
                            absolute inset-y-0 left-0 transform -translate-x-full lg:relative lg:translate-x-0 transition duration-200 ease-in-out">
                <left-menu></left-menu>
            </div>
                
            <!-- 内容 -->
            <div class="flex-grow content_background_color">

                <!-- 标题-->
                <p class="font-bold text-xl p-5 bg-white">毛利表</p>

                <!-- 查询表单-->
                <div class="m-5 p-5 bg-white">
                    <form>
                        <div class="lg:flex">
                            <div class="flex-grow lg:flex">
                                <label class="w-16 text-sm py-1 block pr-2">关键字</label>
                                <input type="text" v-model="params.keyword" placeholder="请输入关键字" class="w-5/6  appearance-none border border-gray-200 rounded h-8 py-1.5 px-2 text-sm text-gray-700 leading-tight
                                                    focus:outline-none focus:bg-white focus:border-blue-500" />
                            </div>

                            <div class="flex-grow lg:w-1/3 lg:flex">
                                <label class="w-12 block text-sm text-center py-1 block pr-2">状态</label>
                                <select v-model="params.state" class="w-1/3 block appearance-none  text-gray-600 bg-white border border-gray-200  px-1 py-1 rounded  
                                            leading-tight focus:outline-none focus:bg-white focus:border-blue-500">
                                    <option value="出库">未结算</option> 
                                    <option value="已结算">已结算</option> 
                                    <option value="">所有</option> 
                                </select>
                            </div>

                            <div class="lg:w-1/4 lg:flex">
                                <label class="text-sm py-1 block pr-2" >&nbsp;</label>
                                <div>
                                    
                                    <button class=" h-8 px-4 mr-3  text-sm text-white transition-colors 
                                    duration-150 rounded-sm focus:shadow-outline bg-blue-500 hover:bg-blue-600" v-on:click="clickSearch">查询</button>

                                    <button class=" h-8 px-4  text-sm text-gray-600 transition-colors border border-gray-400
                                duration-150 rounded-sm focus:shadow-outline bg-white hover:bg-gray-100" v-on:click="clickReset">重置</button>
                                </div>
                                
                            </div>
                        </div>
                    </form>
                </div>
                
                <!-- 列表 -->
                <div class="m-5 p-5 bg-white overflow-x-auto">
                    <table class="table-fixed w-full divide-y divide-gray-200 text-sm text-center " >
                        <tr>
                            <!-- 入库时间(预计到港日期)、商品名称、货号、规格、可售数量、采购单价、采购总价、提单号 -->
                            <th class="px-2 py-2 text-center  font-medium text-gray-800 uppercase tracking-wider w-32">
                                销售合同号
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                订单号
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                客户名称
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                业务员
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                明细单编号
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                商品货号
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                商品规格
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                数量
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                入库单价
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                入库金额
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                销售单价
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                销售金额
                            </th>
                            <th class="px-2 py-2 text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                毛利
                            </th>
                        </tr>

                        <tr v-for="item in orders" class="hover:bg-gray-200">
                            <td>{{item.ckdh}}</td>
                            <td>{{item.xshth}}</td>
                            <td>{{item.gnkhmc}}</td>
                            <td>{{item.ywy}}</td>
                            <td>{{item.mxdbh}}</td>
                            <td>{{item.sphh}}</td>
                            <td>{{item.spgg}}</td>
                            <td>{{item.sjccsl}}</td>
                            <td>{{item.hsdj}}</td>
                            <td>{{item.hsdj * item.sldw}}</td>
                            <td>{{item.wxdj}}</td>
                            <td>{{item.wxzj}}</td>
                            <td>{{item.ml}}</td>
                            
                        </tr>
                    </table>

                    
                    <div class="pt-5 bg-white">
                        <el-pagination background
                                @current-change="handleCurrentChange"
                                :current-page="currentPage"
                                :page-size="pageSize"
                                layout="total, prev, pager, next"
                                :total="totalCount"></el-pagination>
                    </div>

                   
                </div>
            
            </div>
        </div>

        
       
            
    </div>

    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/js.cookie.min.js"></script>
    <script src="/js/element-ui.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/lib/header.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/maolibiao.js"></script>
</body>
</html>