<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/tailwind.min.css?body=1" rel="stylesheet" />
    <link href="/css/common.css?body=1" rel="stylesheet" />

    <title></title>
</head>
<body>
    <div id="app" v-cloak class=" min-h-screen text-sm">

        <user-header></user-header>

        <!--  -->
        <div class="lg:flex w-full" style="position: absolute; top: 44px; bottom: 0; width: 100%;">

            <div id="menu" class="w-60 pt-2 bg-gray-600 flex-shrink-0 
                            absolute inset-y-0 left-0 transform -translate-x-full lg:relative lg:translate-x-0 transition duration-200 ease-in-out">
                <left-menu></left-menu>
            </div>
                
            <!-- content -->
            <div class="flex-grow p-6 content_background_color">
                
                <div class=" p-4  bg-white">
                    <p class="pb-4 font-bold text-lg">新增出库单</p>

                    <div class="overflow-x-auto ">
                        

                        <table class="table-fixed w-full divide-y divide-gray-200 text-sm text-center " >
                            <tr>
                                <!-- 入库时间(预计到港日期)、商品名称、货号、规格、可售数量、采购单价、采购总价、提单号 --> 
                                <th class="px-2 py-2 text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                    商品名称
                                </th>
                                <th class="px-2 py-2 text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                    货号
                                </th>
                     
                 
                                <th class="px-2 py-2 text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                    采购单价
                                </th>
                                <th class="px-2 py-2 text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                    操作
                                </th>
                            </tr>

                            <tr v-for="item in products">
                                <td>{{item.name}}</td>
                                <td>{{item.code}}</td>
                    
                    
                                <td> <input type="text"  v-model="item.price" 
                                    class="appearance-none border border-gray-200 rounded w-2/3 py-1 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" /></td>
                                <td>
                                    <a href="#"  class="text-blue-500 hover:text-blue-900 visited:text-purple-600">删除</a>
                                </td>
                            </tr>
                        </table>

                    </div>

                    <div>
                        <div class="pt-4">
                            <div class=" py-2">客户</div>
                            <input type="text" placeholder="请输入客户名称"
                                class="appearance-none border border-gray-200 rounded w-full md:w-1/2 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" />
                        </div>

                        <div class="pt-4">
                            <div class=" py-2">销售合同图片</div>
                            <div class="w-full">
                                <div class="w-20 relative border h-20 rounded-lg  border-2 border-gray-300 bg-gray-100 flex justify-center items-center">
                                    <div class="absolute">
                                        <div class="flex items-center ">  <span class="block text-gray-400 pb-2 text-5xl align-middle">+</span> </div>
                                    </div> <input type="file" class="h-full w-full opacity-0" name="">
                                </div>
                            </div>
                        </div>

                        <div class="pt-8 flex justify-center items-center">
                            <button class="block h-8 px-5 m-2 text-sm text-white transition-colors 
                            duration-150 rounded-sm focus:shadow-outline bg-blue-500 hover:bg-blue-600"> 提 交 </button>

                            <button class="block h-8 px-5 m-2 text-sm text-gray-600 transition-colors border border-gray-400
                            duration-150 rounded-sm focus:shadow-outline bg-white hover:bg-gray-100"> 重 置 </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
            
    </div>

    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/js.cookie.min.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/lib/header.js"></script>
    <script src="/js/products.js"></script>
</body>
</html>