<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/tailwind.min.css?body=1" rel="stylesheet" />
    <link href="/css/loading.css?body=1" rel="stylesheet" />
    <link href="/css/common.css?body=1" rel="stylesheet" />
    <link href="/css/element-ui.css?body=1" rel="stylesheet" />

    <title></title>
</head>
<body class="cont_bg content_background_color">
    <div id="app" v-cloak>

        <user-header></user-header>

        <!--  -->
        <div class="lg:flex w-full content_background_color h-screen pt-12" >

            <div id="menu" class="w-60 pt-2 bg-gray-600 flex-shrink-0 
                            absolute inset-y-0 left-0 transform -translate-x-full lg:relative lg:translate-x-0 transition duration-200 ease-in-out">
                <left-menu></left-menu>
            </div>
                
            <!-- 内容 -->
            <div class="flex-grow flex flex-col content_background_color h-full">

                <!-- 标题-->
                <p class="font-bold text-xl p-5 bg-white">Choose items</p>

                <!-- 查询表单-->
                <div class=" m-5 p-5 bg-white">
                    <form>
                        <div class="flex items-center">
                            <div class="w-1/2 lg:flex">
                                <label class="text-sm py-1 block pr-2">Keys </label>
                                <input type="text" v-model="params.keyword" placeholder="please input keyword" class="w-5/6  appearance-none border border-gray-200 rounded h-8 py-1.5 px-2 text-sm text-gray-700 leading-tight
                                                 focus:outline-none focus:bg-white focus:border-blue-500" />
                            </div>

                            <div class="w-1/2 lg:flex">
                                <label class="text-sm py-1 block pr-2" >&nbsp;</label>
                                <div>
                                    
                                    <button class=" h-8 px-4  mr-3 text-sm text-white transition-colors 
                                duration-150 rounded-sm focus:shadow-outline bg-blue-500 hover:bg-blue-600" v-on:click="clickSearch">Search  </button>

                                    <button class=" h-8 px-4  text-sm text-gray-600 transition-colors border border-gray-400
                                duration-150 rounded-sm focus:shadow-outline bg-white hover:bg-gray-100">Reset</button>

                                </div>
                                
                            </div>
                        </div>
                    </form>

                 
                </div>

                <!-- 列表 -->
                <div id="contentDiv" class="mx-5 p-5 bg-white overflow-x-auto relative"  >
                    <div class="pb-4">
                        <span class="px-2 text-blue-700">{{selectedProducts.length}}</span> items selected
                    </div>
                    <table class="table-fixed w-full divide-y divide-gray-200 text-sm text-center " >
                        <tr class="py-1">
                            <th class="w-24 text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                            </th>
                            <!-- 入库时间(预计到港日期)、商品名称、货号、规格、可售数量、采购单价、采购总价、提单号 -->
                            <th class="px-2  text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                Shipping date
                            </th>
                            <th class="px-2 text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                Product description
                            </th>
                            <th class="px-2  text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                SH Item No. 
                            </th>
                            <th class="px-2 text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                Specification  
                            </th>
                            <th class="px-2 text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                Quantity In stock 
                            </th>
                            <th class="px-2  text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                FOB unit price
                            </th>
                            <th class="px-2  text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                FOB total amount
                            </th>
                            <th class="px-2  text-center  font-medium text-gray-800 uppercase tracking-wider w-24">
                                BL No.
                            </th>
                            
                        </tr>

                        <tr v-for="item in products" class="hover:bg-gray-50 py-1">
                            <td class="w-24">
                                <button  class="text-blue-500 hover:text-blue-900 " v-if="!item.selected" v-on:click="addToOrder(item.id)">Add</button>
                                <button  class="text-red-500 hover:text-red-900 " v-if="item.selected" v-on:click="removeFromOrder(item.id)">Delete</button>
                            </td>
                            <td class="min-w-12">{{item.time}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.sphh}}</td>
                            <td>{{item.spec}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.hsje}}</td>
                            <td>{{item.dhbh}}</td>
                            
                        </tr>

                        <tr>
                            <td colspan="7" v-if="totalCount == 0 && !loading">
                                <div>
                                    No Any Data
                                </div>
                            </td>
                        </tr>
                    </table>

                    <div class="pt-5 bg-white">
                        <el-pagination background
                                @current-change="handleCurrentChange"
                                :current-page="currentPage"
                                :page-size="pageSize"
                                layout="total, prev, pager, next"
                                :total="totalCount"></el-pagination>
                    </div>

                    <div id="loading" class="bg-gray-300 bg-opacity-50" style="height: 100%; width: 100%;">
                        <div class="lds-ring"> <div></div> <div></div> <div></div> <div></div> </div>
                    </div>
                </div>

                <div style="height: 50px;"> &nbsp; </div>
                
                <!-- 下一步按钮 -->
                <div class="w-full" style="position: fixed; bottom: 0; ">
                    <button  class="w-full block h-10 px-5  text-sm text-white transition-colors 
                            duration-150 rounded-sm focus:shadow-outline bg-blue-500 hover:bg-blue-600"
                            v-on:click="clickFinish"
                            > The next step </button>
                </div>

            
            </div>
        </div>

        
       
            
    </div>

    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/js.cookie.min.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/element-ui.js"></script>
    <script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>
    <script src="/js/lib/header.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/select_products.js"></script>
</body>
</html>