<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/tailwind.min.css?body=1" rel="stylesheet" />
    <link href="/css/common.css?body=1" rel="stylesheet" />

    <title></title>
</head>
<body class="cont_bg content_background_color">
    <div id="app" v-cloak>

        <user-header></user-header>

        <!--  -->
        <div class="lg:flex w-full content_background_color min-h-screen  pt-12" >

            <div id="menu" class="w-60 pt-2 bg-gray-600 flex-shrink-0 
                            absolute inset-y-0 left-0 transform -translate-x-full lg:relative lg:translate-x-0 transition duration-200 ease-in-out">
                <left-menu></left-menu>
            </div>
                
            <!-- 内容 -->
            <div class="flex-grow flex flex-col content_background_color h-full">
                
                    <p class="font-bold text-xl p-5 bg-white">Buying order</p>

         
                    <div class="mx-5 mt-5 p-5 bg-white">
                        <div class="">
                            <div class=" lg:flex">
                                <div class="lg:w-1/2">
                                    <div class=" py-2">Order No.</div>
                                    <input type="text" placeholder="" v-model="order.wxhth" 
                                        class="appearance-none border border-gray-200 rounded w-full md:w-2/3 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" disabled/>
                                </div>

                                <div class="lg:w-1/2">
                                    <div class=" py-2">Currency</div>
                                    <input type="text" placeholder="" v-model="order.wbbb"
                                        class="appearance-none border border-gray-200 rounded w-full md:w-2/3 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" disabled/>

                                </div>

                                
                            </div>
                        </div>

                        <div class="pt-2">
                            <div class=" lg:flex">
                                <div class="lg:w-1/2">
                                    <div class=" py-2">Prcie term</div>
                                    <input type="text" placeholder="" v-model="order.jgtk"
                                        class="appearance-none border border-gray-200 rounded w-full md:w-2/3 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" disabled/>

                                </div>
                                <div class="lg:w-1/2 hidden">
                                    <div class=" py-2">Sea freight</div>
                                    <input type="text" placeholder="" v-model="order.zje"
                                        class="appearance-none border border-gray-200 rounded w-full md:w-2/3 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" disabled/>

                                </div>
                                <div class="lg:w-1/2">
                                    <div class=" py-2">Order Date</div>
                                    <input type="text" placeholder="" v-model="order.qyrq"
                                        class="appearance-none border border-gray-200 rounded w-full md:w-2/3 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" disabled/>

                                </div>
                                
                            </div>
                        </div>

                        <div class="pt-2">
                            <div class=" lg:flex">
                                
                                <div class="lg:w-1/2">
                                    <div class=" py-2">ETD </div>
                                    <input type="text" placeholder="" v-model="order.zyqx"
                                        class="appearance-none border border-gray-200 rounded w-full md:w-2/3 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" disabled/>

                                </div>
                               
                            </div>
                        </div>

                        

                       
                        
                    </div>

                    <div class="overflow-x-auto bg-white mx-5 p-5">
                        <div class="py-2 text-sm">Product list:</div>
                        <table class="table-fixed w-full divide-y divide-gray-200 text-sm text-center " >
                            <tr>
                                <!-- 入库时间(预计到港日期)、商品名称、货号、规格、可售数量、采购单价、采购总价、提单号 --> 
                                <th class="px-2 text-center  font-medium text-gray-800  tracking-wider w-24">
                                    KB item No.
                                </th>
                                <th class="px-2 text-center  font-medium text-gray-800  tracking-wider w-24">
                                    SP Item No.
                                </th>

                                <th class="px-2  text-center font-medium text-gray-800  tracking-wider w-24">
                                    Product description 
                                </th>

                                <th class="px-2  text-center font-medium text-gray-800  tracking-wider w-24">
                                    Specification 
                                </th>
                 
                              
                               
                                <th class="px-2 text-center  font-medium text-gray-800  tracking-wider w-24 digitType">
                                    Quantity 
                                </th>
                                <th class="px-2 text-center  font-medium text-gray-800  tracking-wider w-24">
                                    Unit  
                                </th>
                                <th class="px-2 text-center  font-medium text-gray-800  tracking-wider w-24 digitType">
                                    FOB unit price 
                                </th>
                                <th class="px-2 text-center  font-medium text-gray-800  tracking-wider w-24 digitType">
                                    FOB total amount
                                </th>
                            </tr>

                            <tr v-for="item in order.products">
                                
                                <td> {{ item.sphh }}</td>
                                <td> {{ item.sphh_kh }}</td>
                                <td> {{ item.spywmc }}</td>
                                <td> {{ item.spgg }}</td>
                           
                               
                                <td class="digitType"> {{ item.jjsl }}</td>
                                <td> {{ item.jjdw }}</td>
                                <td class="digitType"> {{ item.wxdj.toFixed(2) }}</td>
                                <td class="digitType"> {{ item.wxzj.toFixed(2) }}</td>
                            </tr>


                        </table>

                        
                    </div>
     
                    <div class="overflow-x-auto bg-white mx-5 p-5">
                        <div class="py-2 text-sm">Other fee:</div>
                        <table class="table-fixed w-full divide-y divide-gray-200 text-sm text-center " >
                            <tr>
                                <!-- 入库时间(预计到港日期)、商品名称、货号、规格、可售数量、采购单价、采购总价、提单号 --> 
                               

                                

                                <th class="px-2  text-center font-medium text-gray-800  tracking-wider w-24">
                                    Name  
                                </th>
                 
                               
                                <th class="px-2 text-center  font-medium text-gray-800  tracking-wider w-24">
                                    Amount 
                                </th>
                               
                            </tr>

                            <tr v-for="(item,index) in order.feiyongs">
                                
                                
                              
                                <td> {{ item.fymc }}</td>
                              
                                <td> {{  (item.plus_less  == 0 ? '+' : '-') + item.fyje }}</td>
            
                            </tr>

                        </table>
                        <div class="text-right mt-2 text-base"> <span class="mr-2">Total:</span> {{order.totalFeiyong}} </div>

                    </div>
            </div>
        </div>

    
            
    </div>
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/vuejs-datepicker.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/js.cookie.min.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/lib/moment.min.js"></script>
    <script src="/js/lib/header.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/wxorder.js"></script>
</body>
</html>