html
    head
        title= ""
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet" href='/css/tailwind.min.css')
        link(rel="stylesheet" href='/css/common.css')
        block css
    body
        div(id='app' class="md:flex min-h-screen")
            div(id="menu" class="w-60 pt-2 md:pt-5 bg-gray-600 flex-shrink-0  \
                    absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out")
                left-menu
            div(class="flex-grow min-h-screen" style="background-color: #F0F2F5;")
                user-header 
                div(class="p-6 mb-16")
                    div(id="content" class="bg-white" )
                        block content
                

    
        script(src='/js/js.cookie.min.js')
        script(src='/js/jquery-1.7.1.min.js')
        script(src='/js/vue.js')
        script(src='/js/lib/moment.min.js')
        script(src='/js/menu.js')
        script(src='/js/lib/auth.js')
        script(src='/js/lib/header.js')
        script(src='/js/axios.min.js')
        script(src='/js/utils.js')
        block scripts