[v-cloak] {
    display:none 
    !important;
}

button:focus  {
    outline: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
  }

.table_header_bg {
    background-color: #F8F8F8
}

.content_background_color {
    background-color: #F0F2F5;
}

.active_row_bg_color {
    background-color: #FAFAFA
}


 table {
   
    text-align: center;
}
table th {
    border-top: 1px solid #F0F0F0;
    border-bottom:  1px solid #F0F0F0;
    background-color: #FAFAFA;
    padding: 12px 0;
}

table td {
    border-top: 1px solid #F0F0F0;
    border-bottom:  1px solid #F0F0F0;
    padding: 12px 0;
}
.editor_listing_table {
    @apply w-full p-2 m-1;
}